@import './../../assets/sass/colors';
$form-width: 100%;
$form-search-width: 100%;
$form-search-background-color: map-get($ml-colors, 'white');
$form-search-justify-content: space-between;
$form-search-border-radius: 4px;
$form-search-input-padding: .5rem;
$form-search-input-border: none;
$form-search-input-border-top-left-radius: 4px;
$form-search-input-border-bottom-left-radius: 4px;
$form-search-input-width: calc(100% - 32px);
$form-search-button-background-color: map-get($ml-colors, 'grey', 'ligten');
$form-search-button-border: none;
$form-search-button-border-top-right-radius: 4px;
$form-search-button-border-bottom-right-radius: 4px;
$form-search-button-div-width: 32px;
$form-search-button-div-height: 100%;
$form-search-button-div-background-image: url('./../../assets/images/ic_Search.png');
$form-search-button-div-background-repeat: no-repeat;
$form-search-button-div-background-position: center;