@import './../../assets/sass/colors';
$breadcrumb-li-list-style: none;
$breadcrumb-li-display: inline;
$breadcrumb-li-font-size: 1rem;
$breadcrumb-li-color: map-get($ml-colors, 'grey', 'darken');
$breadcrumb-li-nth-last-child-chevrondisplay: none;
$breadcrumb-li-chevron-margin: 0 4px;
$breadcrumb-li-padding: 0;
$breadcrumb-li-display: inline;
$breadcrumb-li-float: none;
$breadcrumb-li-stroke-width: 1.3;
$breadcrumb-li-width: 0.8em;
$breadcrumb-li-height: 0.8em;
$breadcrumb-li-webkit-transform: translateY(1px);
$breadcrumb-li-transform: translateY(1px);
$breadcrumb-li-stroke: currentColor;